img {
  border: 0;
}
select {
  margin: 0 0 12px 0;
}
body {
  background: #cccccc;
}
label {
  font-weight: bold;
}
dl.tabs {
  border-bottom: 0;
}
dl.tabs dd {
  background: #785f45;
  margin-left: 4px;
}
dl.tabs dd a {
  color: #ffffff;
  padding: 0 13px;
}
dl.tabs.mobile {
  margin: 20px -15px 40px -20px;
}
.datepick select {
  width: auto;
}
.required {
  color: #ff0000;
}
label.required {
  color: #4d4d4d;
}
label.required:after {
  color: #a83828;
  content: '*';
  padding-left: 5px;
}
.datepick-nav {
  background: #785f45;
}
.datepick-ctrl {
  background: #aa3929;
}
.datepick-month td .datepick-selected {
  background: #aa3929;
}
.rwc-module {
  background: #ffffff;
  margin-bottom: 20px;
}
.rwc-wrapper {
  box-shadow: 0px 0px 10px #bababa;
  margin: 15px 0 30px 0;
  padding: 30px;
}
hr {
  color: #6e1a1a;
  background-color: #6e1a1a;
}
#z2b2 li a,
#z2b2 li a:active,
#z2b2 li a:visited,
#z2b2 li a:hover {
  color: #fff;
  background-color: #669966;
}
#z2b2 li a:hover,
#z2b2 li a.current,
#z2b2 li a.current:active,
#z2b2 li a.current:visited {
  color: #4b704b;
  background-color: #fff;
}
@media (min-width: 768px) {
  #rwc-top-tabs {
    margin-left: 5%;
  }
}

/*# sourceMappingURL=admin.css.map */
