// Color variables (appears count calculates by raw css)
@color0: #bababa; // Appears 3 times
@color1: #aa3929; // Appears 2 times
@color2: #ffffff; // Appears 2 times
@color3: #785f45; // Appears 2 times
@darkRed2: #a83828;



img {
	border:0;
}
select {
	margin: 0 0 12px 0;
}
body {
	background: #cccccc;
}
label {
	font-weight: bold;
}
dl.tabs {
	border-bottom: 0;
	dd {
		background: @color3;
		margin-left: 4px;
		a {
			color: @color2;
			padding: 0 13px;
		}
	}
}
dl.tabs.mobile {
	margin: 20px -15px 40px -20px;
}
.datepick {
	select {
		width:auto;
	}
}
.required {
	color: #ff0000;
}
label.required{
	color: #4d4d4d;
	&:after{
		color: @darkRed2;
		content:'*';
	    padding-left:5px;
	}
}
.datepick-nav {
	background: @color3;
}
.datepick-ctrl {
	background: @color1;
}
.datepick-month {
	td {
		.datepick-selected {
			background: @color1;
		}
	}
}

.rwc-module {
	background: @color2;
	margin-bottom: 20px;
}
.rwc-wrapper {
	-moz-box-shadow: 0px -0px 10px @color0;
	-webkit-box-shadow: 0px -0px 10px @color0;
	box-shadow: 0px -0px 10px @color0;
	margin: 15px 0 30px 0;
	padding: 30px;
}
hr {
	color: #6e1a1a;
	background-color: #6e1a1a;
}
#z2b2 li a, #z2b2 li a:active, #z2b2 li a:visited, #z2b2 li a:hover {
	color: #fff;
	background-color: #669966;
}
#z2b2 li a:hover, #z2b2 li a.current, #z2b2 li a.current:active, #z2b2 li a.current:visited {
	color: #4b704b;
	background-color: #fff;
}


@media (min-width: 768px) {
	#rwc-top-tabs { margin-left: 5% };
}
