/* -----------------------------------------
	Imports
----------------------------------------- */

@import "lesshat.less";

/* -----------------------------------------
	Variables
----------------------------------------- */

// bootstrap
@container-sm: 750px;
@container-md: 970px;
@container-lg: 1170px;

@screen-xs: 480px;
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;
@screen-xs-max: (@screen-sm - 1);
@screen-sm-max: (@screen-md - 1);
@screen-md-max: (@screen-lg - 1);

//colors
@darkRed1: #822b1f;
@darkRed2: #a83828;
@darkBrown1: #595148;
@darkBrown2: #73695d;
@lightBrown1: #b3ac9b;
@lightBrown2: #8c8072;
@lightBrown3: #dfdfd4;
@lightBrown4: #cbccba;

@lightBrown1DashedBorder: 1px dashed @lightBrown4;

@link-color: @darkRed2;

/* -----------------------------------------
	Elements
----------------------------------------- */

body {
	background: url(/images/bg.jpg);
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #444;
}

h1, h2, h3, h4 {
	font-family: 'Arvo', serif;
	font-style: normal;
	font-weight: 400;
	color: @darkBrown1;

	&.contrast {
		color: @darkBrown1;
	}
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 15px;
}

h4 {
	font-size: 13px;
}

a {
	color: @link-color;
	.transition (all 0.2s ease);

	&:hover {
		color: darken(@link-color, 5%);
		border-bottom: .08em solid darken(@link-color, 5%);
		text-decoration: none;
	}
}

li a, p a {
	border-bottom: .08em solid rgba(0,0,0,.1);
	padding-bottom: .08em;
}

/* -----------------------------------------
	Bootstrap
----------------------------------------- */

.row.no-gutter {
	margin-left: 0;
	margin-right: 0;
}

/*
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
	padding-right: 0;
	padding-left: 0;
}
*/

.tooltip-inner {
	max-width: 350px;
	/* If max-width does not work, try using width instead */
	width: 350px;
	background: @lightBrown2;
}

.tooltip.top .tooltip-arrow {
	border-top-color: @lightBrown2;
}

.tooltip.right .tooltip-arrow {
	border-right-color: @lightBrown2;
}

.tooltip.bottom .tooltip-arrow {
	border-bottom-color: @lightBrown2;
}

.tooltip.left .tooltip-arrow {
	border-left-color: @lightBrown2;
}

.form-control {
	.placeholder(#999);
}

.placeholder {
	color: #999;
}

/* -----------------------------------------
	Layout stuff
----------------------------------------- */

/*
:: utilies classes
*/

.mt0 { margin-top: 0; }
.mt15 { margin-top: 0.75em; }
.mt30 { margin-top: 1.5em; }
.mt40 { margin-top: 2em; }

.mb0 { margin-bottom: 0; }
.mb15 { margin-bottom: 0.75em; }
.mb30 { margin-bottom: 1.5em; }
.mb40 { margin-bottom: 2em; }

.ml0 { margin-left: 0; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml15 {	margin-left: 15px; }

.mr0 { margin-right: 0; }
.mr5 { margin-right: 5px; }
.mr10 {	margin-right: 10px; }
.mr15 {	margin-right: 15px; }

.pt0 {	padding-top: 0; }
.pt15 {	padding-top: 0.75em; }
.pt30 {	padding-top: 1.5em; }
.pt40 {	padding-top: 2em; }

.pb0 { padding-bottom: 0; }
.pb15 {	padding-bottom: 0.75em; }
.pb30 {	padding-bottom: 1.5em; }
.pb40 {	padding-bottom: 2em; }

.pl0 { padding-left: 0; }
.pl5 { padding-left: 5px; }
.pl10 {	padding-left: 10px; }
.pl15 {	padding-left: 15px; }

.pr0 { padding-right: 0; }
.pr5 { padding-right: 5px; }
.pr10 {	padding-right: 10px; }
.pr15 {	padding-right: 15px; }

.imgmax75 { max-width: 75%; }
.imgmax50 { max-width: 50%; }
.imgmax25 { max-width: 25%; }

.btn {
	font-family: 'Arvo', serif;
}

.btn-contrast {
	border: 1px solid #a25247;
	color: #fff;
	.box-shadow( inset 0 1px 0 0 lighten(@darkRed2, 20%), 0 1px 2px 0 rgba(0,0,0,0.4));
	.background-image(linear-gradient(to bottom, @darkRed2 0%,darken(@darkRed2, 10%) 100%));
}

.btn-contrast:hover {
	color: #fff;
	.background-image(linear-gradient(to bottom, darken(@darkRed2, 10%) 0%,@darkRed2 100%));
}

a.btn-contrast:hover {
	border-bottom-width: 1px;
}

hr {
	border: 0;
	border-bottom: 1px solid @lightBrown3;

	&.dashed {
		border-bottom: @lightBrown1DashedBorder;
	}

	&.short {
		margin: 11px 0 11px 0;
	}

	&.tall {
		margin: 44px 0 44px 0;
	}

	&.taller {
		margin: 66px 0 66px 0;
	}

	&.invisible {
		background: transparent;
	}
}

/*
:: select2 plugin customizations
*/

.select2-container .select2-choices .select2-search-field input, .select2-container .select2-choice, .select2-container .select2-choices {
	font-family: 'Roboto', sans-serif;
}

/*
:: jQuery UI customizations
*/

.ui-widget-content {
	border: 1px solid #ccc !important;
}

.ui-datepicker {
	z-index: 4 !important; /*prevents slider handles from showing up on top of datepicker*/
}

#toTop {
	position: fixed;
	bottom: -2px;
	right: 10px;
	z-index: 1000;
	cursor: pointer;
	display: none;
}

form {
	.required {
		color: @darkRed2;
	}
}

/*
:: Style used by the label output mode; applied to the error labels that get positioned after an input.
*/
label.error {
	font-size: 12px;
	color: @darkRed2;
}

/* created "youtube" version since it wasn't included in bootstrap-social.css */
.btn-youtube{color:#fff;background-color:#cd201f;border-color:rgba(0,0,0,0.2)}.btn-youtube:hover,.btn-youtube:focus,.btn-youtube:active,.btn-youtube.active,.open>.dropdown-toggle.btn-youtube{color:#fff;background-color:#b31217;border-color:rgba(0,0,0,0.2)}
.btn-youtube:active,.btn-youtube.active,.open>.dropdown-toggle.btn-youtube{background-image:none}
.btn-youtube.disabled,.btn-youtube[disabled],fieldset[disabled] .btn-youtube,.btn-youtube.disabled:hover,.btn-youtube[disabled]:hover,fieldset[disabled] .btn-youtube:hover,.btn-youtube.disabled:focus,.btn-youtube[disabled]:focus,fieldset[disabled] .btn-youtube:focus,.btn-youtube.disabled:active,.btn-youtube[disabled]:active,fieldset[disabled] .btn-youtube:active,.btn-youtube.disabled.active,.btn-youtube[disabled].active,fieldset[disabled] .btn-youtube.active{background-color:#cd201f;border-color:rgba(0,0,0,0.2)}
.btn-youtube .badge{color:#cd201f;background-color:#fff}

/* -----------------------------------------
	Header
----------------------------------------- */

#header-container {
	background: transparent url(/images/bg-header-sawtooth.jpg) repeat-x;
	@media (max-width: @screen-sm-max) {
		background-position: center bottom;
	}
	@media (min-width: @screen-sm) {
		background-position: center 102%;
	}
	@media (min-width: @screen-md) {
		background-position: center 103%;
	}
	@media (min-width: @screen-lg) {
		background-position: center 105%;
	}

	header {
		padding-top: 10px;
	}

	.navbar {
		@media (min-width: @screen-md) {
			margin-bottom: 0;
		}
	}

	.navbar-default {
		background: none;
		border: none;
	}

	.navbar-brand {
		height: auto;
		padding-top: 5px;
		@media (min-width: @screen-md) {
			padding-top: 5px;
		}
		padding-bottom: 0;
		border: none;

		img {
			max-width: 220px;
			@media (min-width: @screen-sm) {
				max-width: 250px;
			}
			@media (min-width: @screen-md) {
				max-width: 320px;
			}
			@media (min-width: @screen-lg) {
				max-width: 386px;
			}
		}
	}

	.navbar-default .navbar-toggle {
		border-color: @lightBrown3;

		.icon-bar {
			background-color: @lightBrown3;
		}

		&:hover, &:focus {
			background-color: @lightBrown1;
		}
	}

	.navbar-collapse, .navbar-form {
		border-color: transparent;
		.box-shadow ( none );
	}

	.nav {
		font-family: 'Arvo', serif;
		@media (max-width: @screen-xs-max) {
			clear: both;
		}
	}

	.navbar-default .navbar-nav>li>a {
		@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
			padding-right: 5px;
			padding-left: 5px;
		}
		@media (min-width: @screen-sm) {
			border: none;
		}
		color: @lightBrown4;
		text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
		border-color: @lightBrown2;
	}

	.navbar-default .navbar-nav>li>a:hover {
		color: #f7f7f3;
	}

	.top-box {
		margin-right: -15px;
		padding: 0;
		@media (max-width: @screen-xs-max) {
			.mt30;
			.mb30;
		}

		.social {
			.mb0;
			margin-right: 10px;

			li {
				padding: 0;
			}
		}

		#___gcse_0 {
			float: right;
			width: 60%;

			form.gsc-search-box, table.gsc-search-box {
				margin: 0;
			}

			td.gsc-input {
				padding: 0;

				input.gsc-input { /*input field*/
					float: right;
					border-color: #fff;
					.border-radius(4px 0 0 4px);
					font-size: 12px;
					line-height: 1;
				}
			}

			input.gsc-search-button { /*submit button*/
				margin-left: 0;
				display: block;
				background: @darkBrown2 url(/images/icon-search.png) center center no-repeat;
				border: none;
				.border-radius(0 4px 4px 0);
				text-indent: -9999px;

				&:hover {
					background-color: @lightBrown2;
				}
			}
		}
	}
}
.dropdown{
	position: relative;
  display: inline-block;
  z-index: 999;
  .dropbtn{
  	background-color: transparent;
    color: #cbccba;
    padding: 14px;
    border: none;
    cursor: pointer;
  }
  .dropdown-content{
    display: none;
    position: absolute;
    background-image: url("/images/bg.jpg");
    min-width: 165px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    // height: 168px;
    overflow-y: scroll;
    overflow-x: hidden;
    a{
    	color: black;
	    padding: 6px 8px;
	    text-decoration: none;
	    display: block;
    }
  }
  &:hover{
  	.dropdown-content{
  		display: block;
  	}
  }
}

#seo {
	overflow: hidden;

	 h1 {
		.mb40;
		@media (min-width: @screen-sm) {
			.mb0;
		}
		font-size: 16px;
		text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
	}
}

#use {
	overflow: hidden;

	h2 {
		.mb30;
		font-family: 'Dancing Script', cursive;
		font-size: 22px;
		font-weight: 400;
		color: @lightBrown2;
	}
}

/* -----------------------------------------
	Content
----------------------------------------- */

.body-container {
	/*background: url(/images/bg-photoset-01.jpg) no-repeat  center top;*/
	background-repeat:  no-repeat;
	background-position: center top;
}

#page-property-detail .body-container,
#page-location .body-container {
	padding-top: 20px;
}

#page-misc .body-container {
	padding-top: 60px;
}

.main-container {
	padding-bottom: 40px;
	background: #f7f7f3;
	.box-shadow ( 0 0 10px 0 rgba(0,0,0,0.1));
}

.fancyframe {
	background: transparent url(/images/bg-frame.jpg);
	border-top: 1px solid #fff;
	.box-shadow ( 0 0 1px 0 rgba(0,0,0,0.3));
}

.tape {
	width: 101px;
	height: 24px;
	position: absolute;
	background: transparent url(/images/tape.png) no-repeat;
}

/* -----------------------------------------
	Home
----------------------------------------- */

/*
:: Search Form
*/

#search-container {
	position: relative;
	margin-top: -10px;
	padding: 0 10px 5px 10px;

	.title {
		color: @darkRed1;
	}

	p {
		font-size: 12px;
	}

	.rate-container {

		input {
			background: none;
			border: 0;
			font-weight: bold;
		}

		.slider {
			margin: 4px 8px;
		}
	}

	.result-number {
		display: none;
		padding: 20px 0 0 0;
		border-top: @lightBrown1DashedBorder;
		border-bottom: none;

		.number {
			margin-right: 5px;
			font-size: 20px;
			vertical-align: middle;
		}
	}

	.tape {
		left: 35%;
		top: -10px;
	}
}

/*
:: Search Map
*/

#page-search {

	#map-container {
		margin-top: -10px;
		padding: 5px;

		#map_canvas {
			width: 100%;
			// height: auto;
			height: 665px;
		}

		.property-detail {
			width: 228px;
			height: auto;
			padding: 10px;
			position: absolute;
			left: 60px;
			top: 180px;
			background: #fcfcf7;
			border-top: 5px solid @lightBrown3;
			border-right: 1px solid @lightBrown3;
			border-bottom: 5px solid @lightBrown3;
			border-left: 1px solid @lightBrown3;
			-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
					box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
			font-size: 11px;
			line-height: 1.2;

			.photo {
				.mb15
			}

			.result_pd_resort ,
			.result_pd_city_state {
				margin: 0;
				font-size: 12px;
			}

			.result_pd_name {
				margin: 0;
				font-size: 14px;
			}

			.result_pd_city_state {
				.mb15
			}

			.close {
				position: absolute;
				right: 4px;
				top: 4px;
				padding: 10px;
				background: transparent url(/images/icon-close.png) center center no-repeat;
				opacity: 1;

				&:hover {
					opacity: 0.5;
				}
			}
		}

		.tape {
			left: 45%;
			top: -19px;
		}
	}
}

/*
:: Subscribe
*/

#subscribe {

	h2 span {
		display: block;
		margin-bottom: 3px;
		font-family: 'Dancing Script', cursive;
		color: @lightBrown1;
		text-transform: lowercase;
	}
}

/*
:: Featured Property
*/

#featured-property {

	.box {
		// display: none;
		padding: 10px;
		background: #fff;
		border: solid 3px @lightBrown3;
		// max-height: 175px;
		overflow: hidden;

		img {
			margin: auto;
			@media (max-width: @screen-sm-max) {
				.mb30;
			}
		}
	}
}

/*
:: Search Results
*/

.result-number {
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-family: 'Arvo', serif;
	color: @darkBrown1;
	border-bottom: @lightBrown1DashedBorder;
}

	.result-number span {
		display: inline-block;
		margin-right: 5px;
		padding: 0 10px;
		.border-radius(4px);
		.background-image(linear-gradient(to bottom, @darkRed2 0%,darken(@darkRed2, 10%) 100%));
		font-size: 30px;
		color: #fff;
		vertical-align: middle;
	}

.result-number.noshow {
	display: none;
}

.searching {
	padding-bottom: 10px;
	border-bottom: @lightBrown1DashedBorder;
	color: @darkRed1;
}

.result-container {
	.mb15;
	overflow: visible;
	position: relative;
	background: #fcfcf7;
	border-top: 5px solid @lightBrown3;
	border-right: 1px solid @lightBrown3;
	border-bottom: 5px solid @lightBrown3;
	border-left: 1px solid @lightBrown3;

	.result_resort, .result_name {
		color: @darkRed1;
	}

	.result_resort {
		margin-bottom: 5px;
		font-size: 16px;
	}

	.result_name {
		margin-bottom: 5px;
	}

	.photo {
		@media (max-width: @screen-xs-max) {
			display: inline-block;
		}
		margin-top: 30px;
		padding: 7px;
	}

	&:last-child {
		margin-bottom: 40px;
	}

	&:hover {
		background: #fff;
		border-color: @lightBrown1;
		cursor: pointer;
	}

	.inquiry-select {
		position: absolute;
		left: -10px;
		top: -10px;
		z-index: 100;
		.background-image(linear-gradient(to bottom, @darkRed2 0%,darken(@darkRed2, 10%) 100%));
		.box-shadow( 0 1px 2px 0 rgba(0,0,0,0.3));
		.border-radius(4px);
		font-size: 12px;
		color: #fff;
		text-shadow: 1px 1px 0px rgba(0,0,0,0.3);

		label {
			margin: 0;
			padding: 4px 0 4px 8px;
			cursor: pointer;
			font-weight: 400;
		}

		input {
			margin: 0;
		}

		.btn-icon {
			background: transparent;
			font-size: 14px;
		}
	}
}

/*
:: Rental Inquiry Form
*/

.inquiry-form-container {

	#optin {
		display: none;
		margin: 20px 0 40px 0;
		padding-bottom: 20px;
		overflow: hidden;
		border-bottom: 1px dashed @lightBrown3;
	}
}

/*
:: Wisconsin Events
*/

.events-links {

	li {
		margin-bottom: 8px;
		padding-bottom: 8px;
		border-bottom: @lightBrown1DashedBorder;
	}

	li a {
		border: none;
	}

	.subcopy {
		display: block;
		font-size: 13px;
		color: @lightBrown2;
	}
}

/* -----------------------------------------
	Property Detail
----------------------------------------- */

.backtosearch {
	.mb30;

	a {
		padding-left: 26px;
		background: transparent url(/images/arrow-left-02.png) 0 center no-repeat;
		font-family: 'Dancing Script', cursive;
		font-size: 22px;
		color: @lightBrown2;
		text-decoration: none;
	}

	a:hover {
		background-image: url(/images/arrow-left-03.png);
		color: @darkBrown1;
		border: none;
	}
}

/*
:: Banner
*/

.property-banner {
	position: relative;
	background: #595148;
	border-top: 2px dashed #8e8783;
	border-bottom: 2px dashed #8e8783;
	box-shadow: 0 0 0 10px #595148;
	margin: 10px -15px 30px;
	padding: 0 15px;

	h1 {
		margin-top: 15px;
		color: @lightBrown3;
	}

	h2 {
		margin-top: 0;
		font-size: 14px;
		color: @lightBrown3;

		span {
			font-size: 16px;
		}
	}

	.sharethis {
		padding: 5px 0;
		color: @lightBrown3;

		&.pull-right {
			@media (max-width: @screen-xs-max) {
				float: none !important;
			}
		}
	}
}

/*
:: Navigation
*/

#nav-detail {

	.nav {
		font-family: 'Arvo', serif;
		font-size: 15px;
		font-weight: 400;

		a {
			background-color: @lightBrown3;
			color: @darkBrown1;
			border: none;
		}

		a:hover, &>li.active>a, &>li.active>a:hover, &>li.active>a:focus {
			color: #fff;
			.box-shadow( inset 0 1px 0 0 lighten(@darkRed2, 20%), 0 1px 2px 0 rgba(0,0,0,0.4));
			.background-image(linear-gradient(to bottom, @darkRed2 0%,darken(@darkRed2, 10%) 100%));
		}
	}

	&.affix {
		top: 0; /* Set the top position of pinned element */
		z-index: 100;
		padding: 5px;
		background-color: @lightBrown3;
		.box-shadow ( 0 10px 20px -10px rgba(0,0,0,0.5));
	}

}

/*
:: Photo Gallery
*/

.gallery-container {
	.mb30;
	@media (min-width: @screen-sm) {
		.mb15
	}
	padding: 5px;

	.flexslider {
		margin-bottom: 50px;
		border: none;
		.box-shadow ( none );
	}

	.flex-direction-nav a {
		border-bottom: none;

		&:hover {
			color: @darkBrown1;
		}
	}

	@media (min-width: @screen-sm) and (max-width: @screen-md-max) {
		.flex-control-nav li {
			margin: 0 4px;
		}
	}

	.flex-control-paging li a {
		background: @lightBrown3;

		&.flex-active {
			background: @darkBrown2;
		}

		&:hover {
			background: @lightBrown2;
			border-bottom: none;
		}
	}
}

/*
:: Videos
*/

.video-link {
	display: block;
	opacity: 0.7;

	&:hover {
		border-bottom: none;
		opacity: 1;
	}

	i.fa {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 10;
		margin-top: -20px;
		margin-left: -20px;
		font-size: 40px;
		color: @lightBrown3;
		text-shadow: 0 0 10px rgba(0,0,0,0.5);
	}
}

/*
:: About
*/

#page-property-detail .photo-gallery-container {
	width: 414px;
	min-height: 314px;
}

ul.description-list {
	font-family: 'Arvo', serif;
	font-size: 15px;
	font-weight: 400;
	color: @darkBrown1;
}

/*
:: Calendar
*/

.calendar-display {
	margin-top: 12px;
}

	.calendar-display .ui-widget-content {
		border: 1px solid #ccc !important;
		font-size: 13px !important;
	}

.calendar-legend {
	overflow: hidden;

	.legend-key {
		float: left;
		width: 22px;
		clear: none;

		.box {
			display: block;
			width: 22px;
			height: 22px;
			border: 1px solid @lightBrown4;
			background: #fff;

			&.unavailable {
				background: @lightBrown3;
			}
		}
	}

	.legend-label {
		float: left;
		margin-right: 20px;
		margin-left: 5px;
	}
}

table.calendar {
	background: #fff;
	border: 1px solid @lightBrown3;
	font-size: 13px;

	thead, tfoot { background: @lightBrown4;	}
	thead tr th, tfoot tr td { padding: 10px; border: none; color: @darkRed1; }
	thead tr th:first-child, tfoot tr td:first-child { border-left: none; }
	thead tr th:last-child, tfoot tr td:last-child { border-right: none; }

	tbody tr td { width: 14.2857143%; padding: 10px; border: none; text-align: center; }

	td.calendar-event {
		background: #943124;
		background: @lightBrown3;
	}

	td.calendar-event-am {
		background-image: url(/images/dot-dfdfd4.png);
		background-repeat: no-repeat;
		background-size: 50% 100%;
	}

	td.calendar-event-pm {
		background-image: url(/images/dot-dfdfd4.png);
		background-repeat: no-repeat;
		background-size: 50% 100%;
		background-position: 100% 100%;
	}

}

blockquote.review {
	padding-left: 30px;
	background: transparent url(/images/bg-quote.png) 10px 10px no-repeat;
	border-left: @lightBrown1DashedBorder;
	font-size: 14px;
	font-style: italic;
}

#map-container {
	/*@media (max-width: @screen-xs-max) {
		display: none;
	}*/
	padding: 5px;

	#map_canvas {
		width: 100%;
		height: auto;
		min-height: 300px;
	}
}

/* -----------------------------------------
	Misc Pages
----------------------------------------- */

#events-links {

	h2 span {
		display: block;
		margin-bottom: 3px;
		font-family: 'Dancing Script', cursive;
		font-size: 20px;
		color: @lightBrown1;
		text-transform: lowercase;
	}
}

/* -----------------------------------------
	Footer
----------------------------------------- */

.footer-container {

	footer {
		padding-top: 40px;
		padding-bottom: 40px;
		font-family: 'Arvo', serif;
		font-size: 12px;
		color: @darkBrown2;
	}

	.logo img {
		@media (max-width: @screen-xs-max) {
			margin: 0 auto 20px auto;
		}
	}

	.footer-nav a {
		padding: 5px 10px;
		color: @darkBrown2;
	}

	.footer-nav>li>a:hover, .footer-nav>li>a:focus {
		background-color: @lightBrown2;
		color: #fff;
	}

	@media (max-width: @screen-xs-max) {
		.footer-nav>li {
			float: none;
			text-align: center;
		}
	}
}

/* -----------------------------------------
	Misc - undefined styles from old site carried over
----------------------------------------- */

#hp {display: none;}

.jsdisabled {
	margin: 0;
	padding: 8px;
	background: @darkRed1;
	color: @lightBrown3;
	font-weight: bold;
	text-align: center;
}

/*
:: Temp container
*/

#temp-container {
	width: auto;
	height: 30px;
	background: #fff;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline;
		margin: 0 10px 0 0;
		padding: 0;
		list-style: none;
		font-size: 11px;
	}
}
